.header-wrapper
  background temp-blue
  padding 10px 10px
  flex-shrink 0

  .city-state
    font-family "Comfortaa-Bold", sans-serif
    font-size 1.8em
    margin 0

  .header-date
    margin 0
    font-size 1.3em

  .settings-icon
    float right
    font-size 2em
