.header-wrapper
  position fixed
  top 0
  right 0
  left 0
  background temp-blue
  padding 10px 10px
  flex-shrink 0

  height 62px // hardcoded for main forecast margin-top offset

  .city-state
    font-family "Comfortaa-Bold", sans-serif
    font-size 1.8em
    margin 0

  .header-date
    margin 0
    font-size 1.3em

  .settings-icon
    float right
    font-size 2em
