body
  color white
  background #f0543c
  text-align center
  font-family sans-serif
  display flex
  flex-direction column
  justify-content center
  align-items center

#sun-icon
  width 40vw

.splash
  font-size 45px
  padding 10px 0 0 10px
  margin 0

.splash-wrapper
  padding-bottom 100px
