.forecast-hourly-wrapper
  background temp-blue
  display flex
  flex-direction row
  flex-grow 1
  flex-wrap nowrap
  justify-content center
  align-items center
  border-bottom 2px solid alt-font-color
  min-height 90px

  div, i
    flex-grow 1
    text-align center

  div
    font-size 1.2em

  i
    font-size 3em
