.splash-wrapper
  height 100%
  color white
  background #f0543c
  text-align center
  font-family "HelveticaNeue-UltraLight", sans-serif
  display flex
  flex-direction column
  justify-content center
  align-items center

  #sun-icon
    width 40vw

  .splash
    font-size 45px
    padding 10px 0 0 10px
    margin 0

  .splash-filler
    height 100px

  .splash-degree
    position relative
    left -3px
