.forecast-today-wrapper
  background temp-blue
  text-align center
  display flex
  flex-direction column
  flex-grow 1
  justify-content center

  .main-temp-wrapper
    font-size 7em

    .degrees
      font-size 0.8em
      vertical-align top

  .forecast-and-chance
    display flex
    flex-direction row
    justify-content center

    .wi
      font-size 3em

    div
      width 20vw

    .divider
      height 6em
      width 0
      color alt-font-color
      border 1px solid
