.forecast-today-wrapper
  background temp-blue
  display flex
  flex-direction column
  flex-grow 1
  flex-wrap wrap
  justify-content center
  align-items center
  border-bottom 2px solid alt-font-color

  .main-temp-wrapper
    font-size 7em
    max-width 50%

    .degrees
      font-size 0.8em
      vertical-align top

  .forecast-and-chance
    display flex
    flex-direction row
    justify-content center
    max-width 50%
    text-align center

    .wi
      font-size 3em

    div
      width 20vw

    .divider
      height 6em
      width 0
      color alt-font-color
      border 1px solid
