alt-font-color = #4c869b

.forecast-today-wrapper
  background #7ea4b3
  text-align center
  display flex
  flex-direction column
  flex-grow 1
  justify-content center

  .main-temp-wrapper
    font-size 140px

  .forecast-and-chance
    display flex
    flex-direction row
    justify-content center

    div
      width 20vw

    .divider
      font-size 70px
      color alt-font-color
