@font-face
  font-family "Comfortaa-Bold"
  src url(../fonts/Comfortaa-Bold.ttf)
@font-face
  font-family "Comfortaa-Light"
  src url(../fonts/Comfortaa-Light.ttf)
@font-face
  font-family "Comfortaa-Regular"
  src url(../fonts/Comfortaa-Regular.ttf)

splash-red = #ff5136
temp-blue = #7ea4b3
alt-font-color = #4c869b
border-color = #c9e2eb

html
  height 100%

body
  margin 0
  height 100%

  div#content
    height 100%

@import '../components/*' // include all style files for components
@import 'weather-icons.css'
@import 'font-awesome.css'
